<img class="image" src="assets/images/logo.jpg" alt="logo" />
<div class="btndesign">
  <button type="button" class="btn btn-lg text-white font-weight-bold">
    Add New Request +
  </button>
</div>
<div class="Rectangle">
  <div class="text">Dashboard</div>
  <div class="text">Pending Requests</div>
  <div class="text">Approved Requests</div>
  <div class="text">All Resources</div>
  <div class="text">User Management</div>
</div>
<div class="innerBox">
  <p class="innerBoxHeading1">Requests</p>
  <p class="innerBoxText1">Open Requests:</p>
  <p class="innerBoxData1">3</p>
  <p class="innerBoxText2">Closed Requests</p>
  <p class="innerBoxData2">10</p>
</div>
<div class="innerBox2">
  <p class="innerBoxHeading1">Interviews</p>
  <p class="innerBoxText1">Today</p>
  <p class="innerBoxData1">3</p>
  <p class="innerBoxText2">Tommorrow</p>
  <p class="innerBoxData2">4</p>
</div>
<div class="innerBox3">
  <p class="innerBoxHeading1">Feedbacks</p>
  <p class="innerBoxText1">Pending</p>
  <p class="innerBoxData1">4</p>
  <p class="innerBoxText2">Completed</p>
  <p class="innerBoxData2">7</p>
</div>
<div class="innerBox4">
  <p class="innerBoxHeading1">Hiring Grid</p>
  <p class="innerBoxText1">Pending</p>
  <p class="innerBoxData1">2</p>
  <p class="innerBoxText2">Completed</p>
  <p class="innerBoxData2">3</p>
</div>
<div class="datesetterDesign"></div>
<div class="tableHead">
  <!-- <ag-grid-angular
    style="width: 500px; height: 200px"
    class="ag-theme-alpine"
    [rowData]="rowData"
  >
  </ag-grid-angular> -->

  <p class="tableHeadData">Track</p>
  <p class="tableHeadData2">No. of Requested Resource</p>
  <p class="tableHeadData3">Filled Position</p>
  <p class="tableHeadData3">Opened Position</p>
</div>
