.image {
  width: 210px;
  height: 125px;
  margin: 14px;
  top: 40px;
}
.btndesign {
  width: 197px;
  height: 49px;
  margin-left: 15px;
  margin-bottom: 5px;
  left: 22px;
  top: 125px;
  background: #74bff5;
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
}
.Rectangle {
  /* position: absolute; */
  width: 225px;
  height: 493px;
  left: 1px;
  top: 178px;

  background: #737274;
}
.text {
  width: 127.23px;
  height: 28.24px;
  margin-left: 49px;
  padding-top: 30px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  color: #ffffff;
}
.innerBox {
  box-sizing: border-box;

  position: absolute;
  width: 217.21px;
  height: 130.6px;
  left: 304px;
  top: 125px;

  background: #b9daf1;
  border: 0.5px solid #e4d7d7;
  border-radius: 15px;
}
.innerBox2 {
  box-sizing: border-box;

  position: absolute;
  width: 217.21px;
  height: 130.6px;
  left: 581px;
  top: 125px;

  background: #b9daf1;
  border: 0.5px solid #e4d7d7;
  border-radius: 15px;
}
.innerBox3 {
  box-sizing: border-box;

  position: absolute;
  width: 217.21px;
  height: 130.6px;
  left: 858px;
  top: 125px;

  background: #b9daf1;
  border: 0.5px solid #e4d7d7;
  border-radius: 15px;
}
.innerBox4 {
  box-sizing: border-box;

  position: absolute;
  width: 217.21px;
  height: 130.6px;
  left: 1135px;
  top: 125px;

  background: #b9daf1;
  border: 0.5px solid #e4d7d7;
  border-radius: 15px;
}
.innerBoxHeading1 {
  /* position: absolute; */
  width: 115.5px;
  height: 40.59px;
  margin-left: 15px;
  margin-top: 15px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;

  color: #5b5858;
}

.innerBoxText1 {
  /* position: absolute; */
  width: 175.84px;
  height: 40.59px;
  /* left: 333px;
  top: 183px; */
  margin-left: 30px;
  margin-top: -20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;

  color: #5b5858;
}
.innerBoxText2 {
  width: 108.61px;
  height: 15.88px;
  margin-left: 30px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;

  color: #5b5858;
}
.innerBoxData1 {
  width: 10.34px;
  height: 21.18px;
  margin-left: 160px;
  margin-top: -58px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;

  color: #000000;
}
.innerBoxData2 {
  width: 20.69px;
  height: 21.18px;
  margin-left: 160px;
  margin-top: -36px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;

  color: #000000;
}
.datesetterDesign {
  position: absolute;
  width: 206px;
  height: 34px;
  left: 1223px;
  top: 300px;

  background: #98cd94;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tableHead {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-left: 240px;
  margin-top: -360px;
  width: 1202px;
  height: 46px;

  background: #c2c2c2;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tableBody {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-left: 240px;
  margin-top: 60px;

  width: 1202px;
  height: 46px;

  background: #fffafa;
  border: 1px solid #ffffff;
  box-shadow: inset 0px 4px 4px rgba(70, 69, 69, 0.4);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.tableHeadData {
  width: 38px;
  height: 18px;
  margin-top: 10px;
  margin-left: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: nowrap;
}

.tableHeadData2 {
  width: 38px;
  height: 18px;
  margin-top: 10px;
  margin-left: 260px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: nowrap;
}
.tableHeadData3 {
  width: 38px;
  height: 18px;
  margin-top: 10px;
  margin-left: 260px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: nowrap;
}
