<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold" href="#">Login</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="main-box">
  <img id="image" class="center" src="assets/images/logo.jpg" alt="logo" />
  <p id="title" class="center">Sign in to Recruitment Portal</p>

  <form>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label w-75 center" for="form1Example1">Username</label>
      <input type="email" id="form1Example1" class="form-control w-75 center" />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label w-75 center" for="form1Example2">Password</label>
      <input
        type="password"
        id="form1Example2"
        class="form-control w-75 center"
      />
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center"></div>
    </div>

    <button type="submit" class="btn btn-primary w-75 center">Sign in</button>

    <div class="col-sm-* text-center">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </form>
</div>
